{% extends "mainsite_base.html" %}


{% block content %}
 <div class="body-div">
    <div class="left-section"></div>
    <div class="center-section">
      <div class="biographic-block">
        <h1 class="biographic-name">{{individual_name}}</h1>
        <div class="biographic-sub-horizontal"><img src="{{individual_photo}}" alt="" class="biographic-full-photo">
          <div class="biographic-positions-block">
            <h1 class="biographic-positions-header-full">Positions</h1>
            
            {% for position in individual_positions %}
            <div class="biographic-position-subblock"><a href="{{position.2}}" class="biographic-position-institution">{{position.0}}</a>
              <h1 class="biographic-position-title">{{position.1}}</h1>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
      <div class="biographic-details-block">
        <h1 class="biographic-details-header">Biographic Details</h1>
        <div class="biographic-details-subblock">
          <h1 class="biographic-details-detail-header">Hometown:</h1>
          <h1 class="biographic-details-detail-subheader">{{individual_hometown}}</h1>
        </div>
        <div class="biographic-details-subblock">
          <h1 class="biographic-details-detail-header">Education:</h1>
          <h1 class="biographic-details-detail-subheader">{{individual_education}}</h1>
        </div>
        <div class="biographic-details-subblock">
          <h1 class="biographic-details-detail-header">Birthday:</h1>
          <h1 class="biographic-details-detail-subheader">{{individual_birthday}}</h1>
        </div>
        <h1 class="biographic-biography-header">Biography</h1>
        <div class="biographic-biography-subblock">
          <p class="institutions-function-paragraph">{{individual_biography|linebreaks  }} </p>
        </div>
      </div>
      <div class="biographic-sources-block">
        <h1 class="biographic-sources-header">Sources</h1>
          <p class="institutions-function-paragraph">{{individual_sources|linebreaks}} </p>
      </div>
    </div>
    <div class="right-section"></div>
  </div>
{% endblock %}
