
{% extends "base_generic.html" %}

{% block content %}
<div class="homepage-featured-section-slider">
    <div data-animation="slide" data-duration="500" data-infinite="1" class="homepage-featured-subslider w-slider">
      <div class="w-slider-mask">
        <div class="homepage-featured-slide-one w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">Korean Democratization Project<br></h1>
              <p class="featured-slider-text">Search KDHI&#x27;s growing archive of primary sources documenting South Korea&#x27;s movement towards democracy. Browse through curated collections of personal journals, diplomatic cables, and government memos or search on your own.
                <a href="{% url 'documents_landing' %}"><br></a></p>
                <a href="{% url 'timelines_landing' %}" class="featured-content-button w-button">Explore the History</a></div>
          </div>
        </div>
        <div class="homepage-featured-slide-two w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">DPRK State Media Archive<br></h1>
              <p class="featured-slider-text">Research visual and print media from North Korea&#x27;s government for free. Join our newsletter and receive daily reports on newly published state media articles from the Korean Central News Agency (KCNA) and the Rodong Sinmun.</p><a href="https://kdhi.pythonanywhere.com/search-results/" target="_blank" class="featured-content-button w-button">Search our database</a></div>
          </div>
        </div>
        <div class="homepage-featured-slide-three w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">Meet North Korea&#x27;s New Government<br></h1>
              <p class="featured-slider-text">View KDHI&#x27;s latest North Korea leadership chart accounted for changes at the December 2019 Workers&#x27; Party of Korea plenary meeting. Use our interactive map or download the poster.</p>
              <a href="{% url 'dprk_institution_landing' %}" class="featured-content-button homebuttondprkmap w-button">Navigate the DPRK Government Map</a></div>
          </div>
        </div>
        <div class="homepage-featured-slide-four w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">South Korea&#x27;s Economy<br></h1>
              <p class="featured-slider-text">Read analysis on South Korea&#x27;s economic development and view country statistics that include economic history data and socioeconomic indicators. Provided by our partners at 
                <a href="https://www.kdevelopedia.org/" target="_blank" class="link-18">K-Developedia</a>.
              <div class="div-block-375">
                <a href="https://www.kdevelopedia.org/Development-Overview.do" target="_blank" class="featured-content-button rokecon w-button">ROK Development Overview </a>
                <a href="https://www.kdevelopedia.org/themeMain.do" target="_blank" class="featured-content-button rokecon w-button">Themes in South Korea&#x27;s Economic Development</a>
                <a href="https://www.kdevelopedia.org/Statistics.do#.Xriqk2hKiUk" target="_blank" class="featured-content-button rokecon w-button">South Korean STATISTICS</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="icon-9 w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="icon-10 w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
  </div>

<div class="homepage-r-a-section-slider">
  <div class="home-header-parent">
    <div class="home-header-container">
      <h1 class="home-header">Research &amp; Analysis</h1>
    </div>
    <div class="three-item-container">
      <div class="three-item-container-large">
        <div class="collection-list-wrapper-24 w-dyn-list">
          <div role="list" class="large-item-collection w-dyn-items">
            <div role="listitem" class="collection-item-23 large-item-holder w-dyn-item">
              <div class="large-item-div" style="background-image: url('{{latest_article.icon_image}}');">
                <div class="large-item-title-div" data-ix="tile-emphasis-2">
                  <a href="{{latest_article.get_absolute_url}}" class="large-item-title-linkbox w-inline-block">
                    <h1 class="large-item-title-heading">{{latest_article.name}}</h1>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three-item-container-small-holder">
        <div class="collection-list-wrapper-23 w-dyn-list">
          <div role="list" class="collection-list-23 w-dyn-items">
          {% for article_temp in secondary_article_list %}  
            <div role="listitem" class="collection-item-22 w-dyn-item">
              <div class="three-item-small-div" style="background-image: url('{{article_temp.icon_image}}');">
                <a href="{{article_temp.get_absolute_url}}" class="analyses-link-box w-inline-block">
                  <h1 class="small-article-heading">{{article_temp.name}}</h1>
                </a>
              </div>
            </div>
          {% endfor %}  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-t-r-section-slider">
  <div class="home-header-parent _1a">
    <div class="home-header-container">
      <h1 class="home-header">tools &amp; resources</h1>
    </div>
    <div class="t-r-grid">
      <div class="t-r-subdiv-top">
        <div class="container-24 w-container">
          <h1 class="card-subblock-heading">Primary Source Collections<br></h1>
          <a href="{% url 'documents_landing' %}" class="featured-content-button hometiles w-button">Historical Documents</a>
          <a href="{% url 'critical_oral_history_landing' %}" class="featured-content-button hometiles w-button">Critical Oral Histories</a>
          <a href="{% url 'timelines_landing' %}" class="featured-content-button hometiles w-button">Timelines</a></div>
      </div>
      <a id="w-node-0053c5a5359c-2a5b7301" href="https://kdhi.pythonanywhere.com/search-results/" target="_blank" class="link-block-35 w-inline-block">
        <div class="container-23 w-container">
          <h1 class="card-subblock-heading">DPRK State Media Archive<br></h1>
        </div>
      </a>
      <div class="t-r-subdiv-bottom">
        <div class="container-24 w-container">
          <h1 class="card-subblock-heading">Trackers<br></h1>
          <a href="{% url 'inter_korean_tracker_list' %}" class="featured-content-button hometiles w-button">Inter-Korean Meetings</a>
          <a href="{% url 'overseas_tracker_list' %}" class="featured-content-button hometiles w-button">North Korea&#x27;s Foreign Relations</a>
          <a href="PAGE / VIEW / TEMPLATE MISSING" class="featured-content-button hometiles w-button">DPRK Conflict Escalation</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-i-b-section-slider">
  <div id="Bios" class="home-header-parent leadership">
    <div class="home-header-container">
      <h1 class="home-header">INSTITUTION BRIEFINGS</h1>
    </div>
  </div>
  <div class="section-card-block">
    <a href="{% url 'dprk_individual_list' %}" class="card-subblock-left w-inline-block">
      <div class="card-subblock-container w-container">
        <h1 class="card-subblock-heading">North Korea<br></h1>
      </div>
    </a>
    <a href="{% url 'rok_individual_list' %}" class="card-subblock-right w-inline-block">
      <div class="card-subblock-container w-container">
        <h1 class="card-subblock-heading">South Korea<br></h1>
      </div>
    </a>
  </div>
</div>

<div class="homepage-leadership-section-slider">
  <div id="Institutions" class="home-header-parent _1a">
    <div class="home-header-container">
      <h1 class="home-header">Leadership Profiles</h1>
    </div>
  </div>
  <div class="section-card-block">
    <a id="w-node-dc23e436e15f-2a5b7301" href="{% url 'dprk_institution_landing' %}" class="card-subblock-left leadpro w-inline-block">
      <div class="card-subblock-container w-container">
        <h1 class="card-subblock-heading">DPRK Leadership<br></h1>
      </div>
    </a>
    <a href="{% url 'rok_institution_landing' %}" class="card-subblock-right leadpro w-inline-block">
      <div class="card-subblock-container w-container">
        <h1 class="card-subblock-heading">ROK Leadership<br></h1>
      </div>
    </a>
  </div>
</div>




{% endblock %}
