{% extends "base_generic.html" %}
{% block content %}

 <header id="hero" class="hero-3">
    <div class="kdp-banner">
      <a href="{% url 'homepage' %}" class="link-block-38 w-inline-block">
        <h1 class="heading-125">Korean Democratization Project</h1>
      </a>
    </div>
    <div class="leadership-hero-flex-container w-container">
      <div>
        <h1>Primary Source<br>Critical Oral History</h1>
        <p>KDHI's Korean Democratization Project features collections of oral perspectives from those who witnessed, took part in, and extensively researched major events in South Korea's history that shaped the country to the present day.‍‍‍</p>
      </div>
      <div class="hero-image-mask-2"><img src='https://kdhi-resources.s3.amazonaws.com/kdhi.org/Assets/Timeline+Assets/KDJ+Returns+to+Korea.jpg' alt="" class="hero-image-2"></div>
    </div>
  </header>


<div class="collection-selection-div-archive">
  {# featured item #}
  <div class="featured-container">
    <a href="{% url 'document_list' name=featured_card.name %}" class="collection-card-featured-archive">
      <div class="collection-card-band-image" style="background-image: url('{{featured_card.hero}}');">
        <div class="collection-card-band-archive">
          <h1 class="collection-card-band-header">{{featured_card.name}}</h1>
        </div>
      </div> 
    </a>
    <div class="collection-selection-grid">
      {% for card in collection_card_set %}
      <a href="{% url 'document_list' name=card.0.name %}" class="collection-card w-inline-block" style="background-image: url('{{card.0.hero}}');">
        <div class="collection-card-band-image">
          <div class="collection-card-band-archive">
          <h1 class="glossary-card-header">{{card.0.name}}</h1>
          <h1 class="glossary-card-header-2 subheader">{{card.1}}</h1>
          </div>
        </div>
      </a>
    {%endfor%}
    </div>
  </div>
</div>



{% endblock %}

