
{% extends "base_generic.html" %}
{% block content %}

 <header id="hero" class="landing-page-hero">
    <div class="kdp-banner">
      <a href="{% url 'homepage' %}" class="link-block-38 w-inline-block">
        <h1 class="heading-125">Korean Democratization Project</h1>
      </a>
    </div>
    <div class="leadership-hero-flex-container w-container">
      <div>
        <h1>Primary Source<br>Document Collections</h1>
        <p>Explore historical documents curated by KDHI Director James Person as a part of our Korea Democratization Project series. <br>‍‍‍<br>Through the lens of firsthand accounts, each collection tells the story of major flash points in South Korea&#x27;s history that led to the country&#x27;s eventual democratization in 1987.</p>
      </div>
      <div class="hero-image-mask-2"><img src='https://kdhi-resources.s3.amazonaws.com/kdhi.org/Assets/Site+Items/democratization-landing-doc.png' alt="" class="hero-image-2"></div>
    </div>
  </header>

<div class="collection-selection-div-archive">
  {# featured item #}
  <div class="featured-container">

  <a href="{% url 'document_list' name=featured_card.name %}" class="collection-card-featured-archive">
    <div class="collection-card-band-image" style="background-image: url('{{featured_card.hero}}');">
      <div class="collection-card-band-archive">
        <h1 class="collection-card-band-header">{{featured_card.name}}</h1>
      </div>
    </div> 
  </a>
  <div class="collection-selection-grid">
    {% for card in collection_card_set %}
    <a href="{% url 'document_list' name=card.0.name %}" class="collection-card w-inline-block" style="background-image: url('{{card.0.hero}}');">
      <div class="collection-card-band-image">
        <div class="collection-card-band-archive">
        <h1 class="glossary-card-header">{{card.0.name}}</h1>
        <h1 class="glossary-card-header-2 subheader">{{card.1}}</h1>
        </div>
      </div>
    </a>
  {%endfor%}
  </div>
</div></div>
<div class="document-search-container">
  <div class="w-container">
    <h1 class="document-search-results-header">Document Search</h1> 
      <div class="main-search-form w-form">
        <form id="wf-form-document-search" name="wf-form-document-search" data-name="document-search" method="post" action="#" class="search-hold-block">{% csrf_token %}
          <label for="name-3" class="search-header">Search</label><input type="text" class="search-field-text w-input" maxlength="256" name="text-search" data-name="text-search" placeholder="Enter your search here." value="{{search_text}}" id="text-search">
          <div class="refine-block-child">
            <div class="document-refine-block">
              <div class="document-refine-block-left">
              <label for="Sort-Type" class="refine-header-3">Collection</label>
              <label class="w-checkbox checkbox-field"><input type="checkbox" id="search_model_1" name="search_model_1" data-name="search_model_1" class="w-checkbox-input" value="1987 Democratization Movement"{{search_model_1_check}}><span for="search_model_1" class="checkbox-text w-form-label">1987 Democratization Movement</span></label>
              <label class="w-checkbox checkbox-field"><input type="checkbox" id="search_model_2" name="search_model_2" data-name="search_model_2" class="w-checkbox-input" value="1948-49 Jeju Uprising" {{search_model_2_check}}><span for="search_model_2" class="checkbox-text w-form-label">1948-49 Jeju Uprising</span></label>
              <label class="w-checkbox checkbox-field"><input type="checkbox" id="search_model_3" name="search_model_3" data-name="search_model_3" class="w-checkbox-input" value="1960 April Revolution"{{search_model_3_check}}><span for="search_model_3" class="checkbox-text w-form-label">1960 April Revolution</span></label>
              <label class="w-checkbox checkbox-field"><input type="checkbox" id="search_model_4" name="search_model_4" data-name="search_model_4" class="w-checkbox-input" value="1979 Park Chung-hee Assassination"{{search_model_4_check}}><span for="search_model_4" class="checkbox-text w-form-label">1979 Park Chung-hee Assassination</span></label>
              <label class="w-checkbox checkbox-field"><input type="checkbox" id="search_model_5" name="search_model_5" data-name="search_model_5" class="w-checkbox-input" value="1980 Gwangju Massacre"{{search_model_5_check}}><span for="search_model_5" class="checkbox-text w-form-label">1980 Gwangju Massacre</span></label>
              </div></div>



            <div class="document-refine-block">
              <label for="keyword-selection" class="refine-header-3">Keywords</label>
              <select id="keyword-selection" name="keyword-selection" multiple="" data-name="keyword-selection" class="keyword-selection-field w-select">
                {% for option in keyword_selection %}
                {{option|safe}}
                {%endfor%}</select>
              <div class="keyword-selection-tooltip">Hold down &quot;Control&quot;, or &quot;Command&quot; on a Mac, to select more than one.</div>
            </div>
            <div class="document-refine-block">
              <div class="document-refine-subblock right">
                <label for="Sort-Type" class="refine-header-3">Date</label>
                <div class="date-field">
                  <label for="date-search-2" class="tooltip-header">After</label>
                   <input type="date" maxlength="256" name="date-search-start" data-name="date-search-start" id="date-search-2" class="date-search w-input" value="1950-01-01"></div>
                <div class="date-field spacer"></div>
                <div class="date-field">
                  <input type="date" maxlength="256" name="date-search-end" data-name="date-search-end" id="date-searchdate-search-3" class="date-search w-input" value="1990-01-01">
                  <label for="keyword-selection-2" class="tooltip-header">Before</label></div>
              </div>
            </div>
          </div><input type="submit" value="Search" data-wait="Please wait..." class="submit-button-2 w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>


      <div class="list-content-block 2">


{% for document in document_list %}
        <div class="list-content-block-2">
          <div class="list-content-subblock-2">
            <h1 class="heading-136">{{document.name}}<br></h1>
          </div>
          <div class="list-content-subblock-details">
            <h1 class="author"><em class="italic-text-6">{{document.collection.name}}</em><br></h1>
            <div class="div-block-105"></div>
            <h1 class="author"><em class="italic-text-6">{{document.date}}</em><br></h1>
          </div>
          <div class="list-content-subblock-2">
            <p class="paragraph-33">{{document.summary | truncatechars:500}}</p>
          </div>
          <div class="list-content-subblock-2">
            <a class="view-link" href="{{ document.get_absolute_url }}">View</a>
          </div>
        </div>
{%endfor%}
        </div>
    </div>
  </div>




</div></div></div>
{% endblock %}
