
{% extends "base_generic.html" %}
{% block content %}

<header id="hero-overlay" class="dprkinstcodexhero">
    <div class="dprkinstitutionsherocontainer w-container">
      <h1 class="heading-124">DRPK Government Map &amp; Institution Codex</h1>
      <p>KDHI&#x27;s interactive map and institution codex for North Korea [Democratic People&#x27;s Republic of Korea -- DPRK] provide profiles that explain the functions of various government organs and their role in the policy making or implementation processes.</p>
      <div class="div-block-387"><a href="#" class="button-49 w-button">Government Map</a><a href="#" class="button-47 w-button">Institution Codex</a></div>
    </div>
  </header>

{#----------------------------#}


<div class="leadership-block-container">
    <div class="home-header-parent">
      <div class="home-header-container">
        <h1 class="home-header">Search North Korean Leaders</h1>
      </div>
    </div>
    <div>
      <div class="leadership-search-div leadprofiles">
        <div class="tracker-filter-subdiv-two leadprofiles">
          <form action="{% url 'dprk_institution_landing' %}" class="leadership-search w-form" method="post">{% csrf_token %}
            <input type="search" class="w-input" maxlength="256" name="search" placeholder="{{search_text}}" id="search" >
            <input type="hidden" class="w-input" maxlength="256" name="function_tags" value="All" id="search" >
            <input type="submit" value="Search" class="leadership-search-button w-button">
            
            <label class="tag_radio_field w-radio">
              <div class="w-form-formradioinput w-form-formradioinput--inputType-custom tag_radio_button w-radio-input"></div>
              <input type="radio" name="search_tag" value="Military" style="opacity:0;position:absolute;z-index:-1">
              <span for="Radio -7" class="tag_radio_text w-form-label">Military</span>
            </label>

            <label class="tag_radio_field w-radio">
              <div class="w-form-formradioinput w-form-formradioinput--inputType-custom tag_radio_button w-radio-input"></div>
              <input type="radio" name="search_tag" value="Party" style="opacity:0;position:absolute;z-index:-1">
              <span for="Radio -7" class="tag_radio_text w-form-label">Party</span>
            </label>

            <label class="tag_radio_field w-radio">
              <div class="w-form-formradioinput w-form-formradioinput--inputType-custom tag_radio_button w-radio-input"></div>
              <input type="radio" name="search_tag" value="State" style="opacity:0;position:absolute;z-index:-1">
              <span for="Radio -7" class="tag_radio_text w-form-label">State</span>
            </label>
          {# ------ Keyword Searches ------ #}



          </form>
        </div>
      </div>
    </div>
</div>
     


<div class="div-block-292">
      <div class="w-dyn-list">
        <div id="filter-list" role="list" class="w-dyn-items">
          
          {% for institution in page_obj%}
          <div role="listitem" class="w-dyn-item">
            <a href="{{institution.get_absolute_url}}" class="link-block-37 w-inline-block">
              <div class="text-block-141">{{institution.name}}</div>
              <p class="">{{institution.function|striptags|truncatechars:250 | striptags }}</p>
              <div class="div-block-386">
                <div class="text-block-138">Tags: </div>
                <div class="text-block-137">{{institution.tripartite_tag}}</div>
                
                {% for tag in institution.function_tags.all %}
                <div class="text-block-140">{{tag}}</div>
                {% endfor %}

              </div>
            </a>
          </div>
          {% endfor %}

        </div>

        <div class="w-pagination-wrapper pagination-10">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="w-pagination-previous" >
              <svg class="w-pagination-previous-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
                <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M8 10L4 6l4-4"></path>
              </svg>
            <div class="w-inline-block">Previous</div>
            </a>
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="w-pagination-next">
            <div class="w-inline-block">Next</div>
            <svg class="w-pagination-next-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
              <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M4 2l4 4-4 4"></path>
            </svg>
          </a>
        {% endif %}
      </div>


      </div>
    </div>

{% endblock %}
        <a href="{{institution.1.get_absolute_url}}" class="quicksearch-secondaryblock w-inline-block">
          <div class="quicksearch-official-image-container"> 
          <img src="{{institution.1.get_image_full}}" alt="{{institution.1.name}}" class="quicksearch-official-image"></div>
          <div class="quicksearch-official-name">{{institution.1.name}}</div></a>