{% extends "base_generic.html" %}

 
{% block content %}

<div class="tracker-hero">
	<div class="tracker-hero-subdiv">
		<h1 class="tracker-hero-heading">Inter-Korean Coopeartion Tracker</h1>
		<div role="listitem" class="tracker-hero-content-div w-dyn-item" style="background-image: url('{{recent_event.event_photo}}');">
			<a href="{{recent_event.get_absolute_url}}" class="tracker-hero-link-div w-inline-block">
				<h1 class="tracker-hero-subheading">{{recent_event.name}}</h1>
				<div class="tracker-hero-subdiv-credit">
					<div class="tracker-hero-spacer">Photo Credit:</div>
					<div class="tracker-hero-credit-text">{{recent_event.event_photo_credit}}</div>
				</div>
			</a>
		</div>
	</div>
</div>

{{event_item.4.0}}
<div class="ik-events-holder">
	{% for event_item in events_list %}      
	<div class="tracker-item-block">
		<div class="tracker-item-block-left">
			<a href="{{event_item.3}}" class="meeting-title">{{event_item.0}}</a>
			<h1 class="meeting-info">{{event_item.1}}}</h1>
			<p class="event-paragraph">{{event_item.2|truncatechars:500}}</p> 
			<div class="event-tag-grid"> 

				{% for choice in event_item.4 %}
			    <div class="event-category category-inlay">{{choice}}</div>
				{%endfor%}

			</div>
		</div>
		<div class="tracker-item-block-right">
			<div class="delegates-block">
				<div class="delegate-holder" >
					<div class="delgate-title">ROK Representative</div>
					<img class="delegate-photo" src="{{event_DPRK_head.get_image_icon}}" style="height:85%; width:auto">
					<div class="tracker-item-participant-text">{{event_DPRK_head.name}}</div>
				</div>
				<div class="delegate-holder">
					<div class="delgate-title">DPRK Representative</div>
					<img class="delegate-photo" src="{{event_ROK_head.get_image_icon}}" style="height:85%; width:auto">
					<div class="tracker-item-participant-text">{{event_ROK_head.name}}</div>
				</div>

			</div>
		</div>
	</div>
	{% endfor %}
</div>



{% endblock %}