{% extends "base_generic.html" %}

 
{% block content %}

<div class="tracker-hero">
	<div class="tracker-hero-subdiv">
		<h1 class="tracker-hero-heading">Inter-Korean Coopeartion Tracker</h1>
		<div role="listitem" class="tracker-hero-content-div w-dyn-item" style="background-image: url('{{recent_event.event_photo}}');">
			<a href="{{recent_event.get_absolute_url}}" class="tracker-hero-link-div w-inline-block">
				<h1 class="tracker-hero-subheading">{{recent_event.name}}</h1>
				<div class="tracker-hero-subdiv-credit">
					<div class="tracker-hero-spacer">Photo Credit:</div>
					<div class="tracker-hero-credit-text">{{recent_event.event_photo_credit}}</div>
				</div>
			</a>
		</div>
	</div>
</div>


<div class="ik-events-holder">

    {% for event_item in page_obj %} 
	<div class="tracker-item-block">
		<div class="tracker-item-block-left">
			<a href="{{event_item.3}}" class="meeting-title">{{event_item.0}}</a>
			<h1 class="meeting-info">{{event_item.1}}</h1>
			<p class="event-paragraph">{{event_item.2|truncatechars:500 | striptags }}</p> 
			<div class="event-tag-grid"> 

				{% for choice in event_item.4 %}
			    <div class="event-category category-inlay">{{choice}}</div>
				{%endfor%}

			</div>
		</div>
		<div class="tracker-item-block-right">
			<div class="delegates-block">
				<div class="delegate-holder" >
					<div class="delgate-title">ROK Representative</div>
					<img class="delegate-photo" src="{{event_item.5.get_image_icon}}" style="height:85%; width:auto">
					<div class="tracker-item-participant-text">{{event_item.5.name}}</div>
				</div>
				<div class="delegate-holder">
					<div class="delgate-title">DPRK Representative</div>
					<img class="delegate-photo" src="{{event_item.6.get_image_icon}}" style="height:85%; width:auto">
					<div class="tracker-item-participant-text">{{event_item.6.name}}</div>
				</div>

			</div>
		</div>
    </div>
	{% endfor %}

	<div class="w-pagination-wrapper pagination-10">
		{% if page_obj.has_previous %}
		    <a href="?page={{ page_obj.previous_page_number }}" class="w-pagination-previous" >
		    	<svg class="w-pagination-previous-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
		    		<path fill="none" stroke="currentColor" fill-rule="evenodd" d="M8 10L4 6l4-4"></path>
		  		</svg>
		    <div class="w-inline-block">Previous</div>
		    </a>
		{% endif %}

		{% if page_obj.has_next %}
		    <a href="?page={{ page_obj.next_page_number }}" class="w-pagination-next">
		      <div class="w-inline-block">Next</div>
		      <svg class="w-pagination-next-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
		        <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M4 2l4 4-4 4"></path>
		      </svg>
		    </a>
		{% endif %}
	</div>
</div>	




{% endblock %}