
{% extends "base_generic.html" %}
{% block content %}



  <header id="hero-overlay" class="collection-section hero-overlay">
    <div class="centered-container w-container">
      <h1 class="kdp-featured-heading">Korean Democratization Project</h1>
      <p class="kdp-paragraph-text"><strong class="bold-text-3">The Korean Democratization Project uses primary sources to document flash points in South Korea&#x27;s long development towards democracy. Search curated collections of diplomatic cables and government memos, read firsthand accounts presented through a critical oral history, or learn about major events in our timeline.</strong></p>
    </div>
  </header>
  <div class="flashpoint-landing-block-holder">
    <div class="w-layout-grid flashpoint-landing-block-subholder">
      <a href="{% url 'documents_landing' %}" class="kdp-landing-cards primarysourcecard w-inline-block">
        <div class="kdhp-card-text">Primary Sources</div>
      </a>
      <a href="{% url 'timelines_landing' %}" class="kdp-landing-cards timelinecard w-inline-block">
        <div class="kdhp-card-text">Timelines</div>
      </a>
      <a href="{% url 'critical_oral_history_landing' %}" class="kdp-landing-cards oralhiscard w-inline-block">
        <div class="kdhp-card-text">Critical Oral Histories</div>
      </a>
    </div>
  </div>


{% endblock %}
