{% extends "base_generic.html" %}


{% block content %}
 <div class="body-div">
    <div class="left-section">
        <form><input type="button" class="back-button w-button" value="&lt; Back" onclick="history.back()"></form>
    </div>
    <div class="center-section">
        <h1 class="meeting-title header">{{tracker_item.name}}</h1>
        <div class="text-block-89">{{tracker_item.event_date}}</div>
        <a href="{{archive_link}}" class="archive-link{{archive_toggle}}">DPRK State Media Source</a>
        <p class="tracker-richtext-content">{{tracker_item.event_description | safe}}</p>
        <a href="{{tracker_item.event_document}}" class="meeting-document-link{{document_test}}">Official Meeting Document</a>
        <div class="institution-function-div">

        </div>
        <div class="participant-div{{participant_test}}">
            <h1 class="institution-function-header">Participants</h1>        
            <div class="particpant-container">
            
                {% for participant in participant_list %}
                <div class="institution-members-div">
                    <img src="{{participant.2}}" alt="" class="institution-member-photo">           
                    <a href="{{participant.1}}" class="institution-position-name">{{participant.0}}</a>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="event-image-container{{image_test}}">
            <h1 class="event-image-header">Photos</h1>
            <img src="{{tracker_item.event_photo}}" class="event-image">
            <img src="{{tracker_item.event_photo_add_1}}" class="event-photo">
            <img src="{{tracker_item.event_photo_add_2}}" class="event-photo">
        </div>
    </div>
</div>

{% endblock %}
