{% extends "base_generic.html" %}


{% block content %}

<div class="ik-tracker-body">
	<h1 class=ik-coopeartion-header> DPRK Foregin Relations Tracker</h1> 
	{#<div class="recent-content-box">#}
	{#	<img src="{{recent_event.event_photo}}" alt class="recent-content-image">#}
	{#	<a href="{{recent_event.get_absolute_url}}" class="recent-content-link w-inline-block">#}
	{#		<h1 class="recent-content-header">{{recent_event.name}}</h1></a>#}
	{#</div> #}

	<div class="ik-events-holder" >
		{% for event_item in events_list %}
			<div class="event-info-block">
				<div class="event-info-sub-block">
					<a href="{{event_item.0.get_absolute_url}}" class="event-link w-inline-block">
						<h1 class="meeting-title">{{event_item.0.name}}</h1></a>
					<div class="event-date-block">
						<h1 class="meeting-date">{{event_item.0.event_date}}</h1>
					</div>
					<p class="event-paragraph">{{event_item.0.event_description|slice:":500" | striptags}}...</p> 
					<a href="{{event_item.0.get_absolute_url}}" class="tracker-more">Details</a>

				</div>
				<div class="tags-block"> 
					{% for choice in event_item.2 %}
					<div class="tag-sub-block"> 
						<h1 class="tag">{{choice.country}}</h1>
					</div>
					{%endfor%}
					{% for choice in event_item.1  %}
					<div class="tag-sub-block"> 
						<h1 class="tag">{{choice.topic}}</h1>
					</div>
					{%endfor%}

				</div>
			</div>
		{% endfor %}

	</div>
</div>

{% endblock %}
