{% extends "base_generic.html" %}
{% block content %}

 <header id="hero-overlay" class="research-hero-overaly">
    <h1 class="research-hero-heading">Research and Analysis</h1>
    <div class="collection-list-wrapper-39 w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <a href="{featured_research_card.get_absolute_url}" data-w-id="c0946c85-ef60-80f9-2da4-ac39c2821023" class="blog-post-wrapper w-inline-block">
            <div class="blog-post-image" style="background-image: url('{{featured_research_card.icon_image}}');">
              <div style="width:0%;-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="read-post-highlighter"><img src="https://global-uploads.webflow.com/5ce83b9939a39a63add88b20/5ecb478854bd2f0853370f24_open-book.svg" alt="" class="read-icon">
                <div class="read-article-text">Read Article</div>
              </div>
            </div>
            <div class="blog-post-details-wrapper">
              <div>
                <div class="date-row"><img src="https://global-uploads.webflow.com/5ce83b9939a39a63add88b20/5ecb478854bd2f1ffd370f25_calendar.svg" alt="" class="date-icon">
                  <div class="blog-post-date">{{featured_research_card.create_date}}</div>
                </div>
                <div class="blog-post-title">{{featured_research_card.name}}</div>
                <p class="research-hero-paragraph">{{featured_research_card.bluff}}</p>
              </div>
              <div>
                <div class="author-details">
                  <div class="author-name">{{featured_research_card.author}}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <a href="https://kdhi.webflow.io/research/analysis#articles" data-w-id="48391dd7-9fe2-c784-cf1a-120d90084193" class="research-button w-inline-block">
        <div class="button-text-2">More Articles</div>
        <div class="arrow-hor-line">
          <div style="-webkit-transform:translate3d(0, -4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(30DEG) skew(0, 0);-moz-transform:translate3d(0, -4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(30DEG) skew(0, 0);-ms-transform:translate3d(0, -4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(30DEG) skew(0, 0);transform:translate3d(0, -4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(30DEG) skew(0, 0)" class="arrow-top-line"></div>
          <div style="-webkit-transform:translate3d(0, 4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-30DEG) skew(0, 0);-moz-transform:translate3d(0, 4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-30DEG) skew(0, 0);-ms-transform:translate3d(0, 4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-30DEG) skew(0, 0);transform:translate3d(0, 4PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-30DEG) skew(0, 0)" class="arrow-bottom-line"></div>
        </div>
      </a>
    </div>
  </header>

  <div id="articles" class="article-section">
    <div class="article-sub-container">
      <div class="w-dyn-list">
        <div role="list" class="article-grid w-dyn-items">
        {% for research_card in research_cards %}      
          <div role="listitem" class="w-dyn-item">
            <div class="collection-item-eg">
              <div class="blog-image" style="background-image: url('{{research_card.icon_image}}');"></div>
              <div class="title-wrap-blog">
                <h1 class="heading-blog">{{research_card.name}}</h1>
                <p class="article-tab-paragraph">{{research_card.bluff}}</p>
                <div class="author-wrap">
                  <div class="details-wrap">
                    <div class="details-text-blog">{{research_card.author}}</div>
                    <div class="details-text-blog">·</div>
                    <div class="details-text-blog">{{research_card.create_date}}</div>
                  </div>
                </div><a href="{{research_card.get_absolute_url}}" class="blog-cover w-inline-block"></a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}


  <section id="cards-section" class="cards-section">
    <h2 class="heading-111">Research &amp; Analysis</h2>
    <div class="cards-grid-container">

{% for research_card in research_cards %}      
      <div class="collection-item-eg">
        <div class="blog-image" style="background-image: url('{{research_card.icon_image}}');" ></div>
        <div class="title-wrap-blog">
          <h1 class="heading-blog">{{research_card.name}}</h1>
          <p class="paragraph-31">{{research_card.bluff}}</p>
          <div class="author-wrap">
            <div class="details-wrap">
              <div class="details-text-blog">{{research_card.author}}</div>
              <div class="details-text-blog">·</div>
              <div class="details-text-blog">{{research_card.create_date}}</div>
            </div>
          </div><a href="{{research_card.get_absolute_url}}" class="blog-cover w-inline-block"></a></div>
      </div>

{% endfor %}

    </div>
  </section>