
{% extends "base_generic.html" %}
{% block content %}


<div class="leadership-block-container">
    <div class="home-header-parent">
      <div class="home-header-container">
        <h1 class="rokinstsectionheadings">ROK Institution Codex</h1>
      </div>
    </div>    
    <div class="institution-filter-form w-form">
      <form id="email-form" action="{% url 'dprk_institution_landing' %}" name="email-form" data-name="Email Form" method="post" >{% csrf_token %}
        <div class="tracker-filter-subdiv-two">
          <div class="search-subdiv">
            <input type="text" class="inst-searchbar-input w-input" maxlength="256" name="search" data-name="search" placeholder="{{search_text}}" id="search">
            <input type="submit" value="Submit" data-wait="Please wait..." class="leadership-search-button-redoux w-button">
          </div>
        </div>
      </form>


<div class="div-block-292">
      <div class="w-dyn-list">
        <div id="filter-list" role="list" class="w-dyn-items">
          
          {% for institution in page_obj%}
          <div role="listitem" class="w-dyn-item">
            <a href="{{institution.get_absolute_url}}" class="link-block-37 w-inline-block">
              <div class="text-block-141">{{institution.name}}</div>
              <p class="">{{institution.function|striptags|truncatechars:250 | striptags }}</p>
              <div class="div-block-386">
                <div class="text-block-138">Tags: </div>
                <div class="text-block-137">{{institution.tripartite_tag}}</div>
                
                {% for tag in institution.function_tags.all %}
                <div class="text-block-140">{{tag}}</div>
                {% endfor %}

              </div>
            </a>
          </div>
          {% endfor %}

        </div>

        <div class="w-pagination-wrapper pagination-10">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="w-pagination-previous" >
              <svg class="w-pagination-previous-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
                <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M8 10L4 6l4-4"></path>
              </svg>
            <div class="w-inline-block">Previous</div>
            </a>
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="w-pagination-next">
            <div class="w-inline-block">Next</div>
            <svg class="w-pagination-next-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
              <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M4 2l4 4-4 4"></path>
            </svg>
          </a>
        {% endif %}
      </div>


      </div>
    </div>

{% endblock %}


