
{% extends "base_generic.html" %}
{% block content %}

  <div class="institution-section-pannels">
    <div data-w-id="c7590a7b-9a7b-9b41-883d-209976366b76" class="institution-pannels-container"></div>
  </div>


  <div class="institution-section-quicksearch">

    <div class="institution-div-quicksearch-subblock">
    <div class="form-block-2">
    <h1 class="quicksearch-institution">Looking for something specific?</h1>
      <form id="email-form" name="email-form" data-name="Email Form" class="form-2" method="POST">{% csrf_token %}

        <input type="text" class="text-field-4 w-input" maxlength="256" name="search" data-name="search" placeholder="e.g. &#x27;Ministry of Foreign Affairs&#x27; or &#x27;foreign&#x27;" id="search">
        <input type="submit" value="Search" data-wait="Please wait..." class="submit-button-5 w-button"></form>
    </div>
      
      <div class="toggle-searchblock-{{quicksearch_toggle}}">
{# ------------------------------------------------------------------------------------------------------------------------ #}
{% for institution in quicksearch_inst_list%}
        <div class="quicksearch-result-block">
        <div class="quicksearch-mainblock"><a href="{{institution.0.get_absolute_url}}" class="quicksearch-resultheader">{{institution.0.name}}</a>

          <p class="quicksearch-result-slug"> {{institution.0.qs_slug}}</p>

        </div>
        <a href="{{institution.1.get_absolute_url}}" class="quicksearch-secondaryblock w-inline-block">
          <div class="quicksearch-official-image-container"> 
          <img src="{{institution.1.get_image_icon}}" alt="{{institution.1.name}}" class="quicksearch-official-image"></div>
          <div class="quicksearch-official-name">{{institution.1.name}}</div></a>
      </div>
{% endfor %}
      </div>
    </div>

  </div>

  <div class="institution-section-infographic"></div>

  <div class="hidden-section">
    <div data-w-id="0063b33b-78f3-fdf5-15aa-ba4fb75e665e"style="display:none" class="institution-pannels-popout">
      <div class="institution-pannels-popout-container">
        <div data-w-id="f60f84ae-5b6f-6237-3d87-3fde73f6edc3" class="institution-pannels-container"></div>
      </div><a data-w-id="4fb222f4-4413-6614-f496-90087e0f1641" href="#" class="close-popup-button w-button">Return</a></div>
  </div>


{% endblock %}
