
{% extends "base_generic.html" %}
{% block content %}


<header id="hero" class="hero-3">
  <div class="kdp-banner">
    <a href="{% url 'homepage' %}" class="link-block-38 w-inline-block">
      <h1 class="heading-125">Korean Democratization Project</h1>
    </a>
  </div>
  <div class="leadership-hero-flex-container w-container">
    <div>
      <h1>Historical Timelines</h1>
      <p>Explore timelines detailing major flash points in South Korea's history in KDHI's Korean Democratization Project series.</p>
    </div>
    <div class="hero-image-mask-2"><img src='https://kdhi-resources.s3.amazonaws.com/kdhi.org/Assets/Misc+Assets/pak-mean-mugging.jpg' alt="" class="hero-image-2"></div>
  </div>
</header>

    <div class="collection-selection-div">
{# featured item #}
      <a href="{% url 'collection_timeline' name=featured_card.name %}" class="collection-card-featured w-inline-block" style="background-image: url('{{featured_card.hero}}');">

        <div class="collection-card-band">

          <h1 class="collection-card-band-header">{{featured_card.name}}</h1>

        </div>

      </a>

      <div class="collection-selection-grid">

{% for card in collection_card_set %}

        <a href="{% url 'collection_timeline' name=card.name %}" class="collection-card w-inline-block" style="background-image: url('{{card.hero}}');">
          <div class="collection-card-band">
            <h1 class="glossary-card-header">{{card.name}}</h1>
          </div>
        </a>
{%endfor%}
      </div>
    </div>
  </div>


{% endblock %}




