{% extends "mainsite_base.html" %}

{% block content %}

<div class="featured-slider light">
    <div data-delay="5000" data-animation="cross" data-autoplay="1" data-duration="600" data-infinite="1" class="slider-3 w-slider">
      <div class="w-slider-mask">
        <div class="featured-slider-one w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">Korean Democratization Project<br></h1>
              <p class="featured-slider-text">Search KDHI&#x27;s growing archive of primary sources documenting South Korea&#x27;s movement towards democracy. Browse through curated collections of personal journals, diplomatic cables, and government memos or search on your own.<a href="{{collection_feature.get_absolute_url}}"><br></a></p><a href="{{collection_feature.get_absolute_url}}" class="button-27 w-button">Explore the History</a></div>
          </div>
        </div>
        <div class="featured-slider-two w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">DPRK State Media Archive<br></h1>
              <p class="featured-slider-text">Research visual and print media from North Korea&#x27;s government for free. Join our newsletter and receive daily reports on newly published state media articles from the Korean Central News Agency (KCNA) and the Rodong Sinmun.</p><a href="{% url 'search_results' %}" target="_blank" class="button-27 w-button">Search our database</a></div>
          </div>
        </div>
        <div class="featured-slider-three w-slide">
          <div class="w-container">
            <div class="featured-slider-content light">
              <h1 class="featured-slider-header">Meet North Korea&#x27;s New Government<br></h1>
              <p class="featured-slider-text">View KDHI&#x27;s latest North Korea leadership chart accounted for changes at the December 2019 Workers&#x27; Party of Korea plenary meeting. Use our interactive map or download the poster.</p><a href="{% url 'institution_list' %}" class="button-27 w-button">Navigate the DPRK Government Map</a></div>
          </div>
        </div>
      </div>
      <div class="arrow left w-slider-arrow-left">
        <div class="icon1 w-icon-slider-left"></div>
      </div>
      <div class="arrow right w-slider-arrow-right">
        <div class="icon1 w-icon-slider-right"></div>
      </div>
      <div class="slide-navigator w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="section-15">
      <div class="home-header-container">
        <h1 class="home-header">Research &amp; Analysis</h1>
      </div>
      <div class="featured-articles-block">
      <div class="primary-article-block"> 
        <a href="{{latest_article.get_absolute_url}}" class="article-box-title-block w-inline-block">
          <h1 class="article-header">{{latest_article.title}}</h1></a>
      </div>
      <div class="secondary-article-holding-div">
      {% for article_temp in secondary_article_list %}
        <div class="secondary-article-block" style="background-image: url('{{article_temp.icon_image}}');" > 
          <a href="{{article_temp.get_absolute_url}}" class="article-box-title-block w-inline-block">
            <h1 class="article-header">{{article_temp.title}}</h1></a>
        </div>
       
        {% endfor %}
      </div>
    </div>
</div>

<div id="tester" class="section-16">
    <div id="Glossary" class="home-header-parent _1a">
      <div class="home-header-container">
        <h1 class="home-header">North Korea glossary</h1>
        <div class="div-block-182">
          
{% for glossary_card in glossary_list %}
          <div class="glossary-card" style="background-image: url('{{glossary_card.image_src}}');">
            <div class="glossary-card-band">
              <a href="{{glossary_card.get_absolute_url}}" class="link-block-16 w-inline-block">
                <h1 class="glossary-card-header">{{glossary_card.title}}</h1>
              </a>
            </div>
            <div class="card-internal-active">
              <a href="{{glossary_card.get_absolute_url}}" class="link-block-6 w-inline-block">
                <p class="paragraph-15">{{glossary_card.bluff_content }}</p>
              </a>
            </div>
          </div>

{% endfor %}

          
        </div>
      </div>
    </div>
  </div>




  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5d759e9efc69ff440ee09800" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>





{% endblock %}
