{% extends "base_generic.html" %}

{% block content %}


<div class="active-body">

    <div class="article-sidebar"></div>
    <div class="article-column">
      <div class="metadata-block">
    <h1 class="title-noline">Login</h1><br><br>
    <p>Your username and password didn't match. Please try again.</p>
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p><a href="{% url 'signup' %}">Don't have an account?</a></p>


</div></div></div></div>

{% endblock %}