{% extends "base_generic.html" %}

{% block content %}


 <div class="body-div">
    <div class="left-section"></div>
    <div class="center-section">
      <div class="biographic-block">
        <h1 class="biographic-name">{{individual_name}}</h1>
        <h1 class="biographic-name-korean">{{individual_detail.name_korean}}</h1>
        <div class="biographic-sub-horizontal"><img src="{{individual_photo}}" alt="" class="biographic-full-photo">
          <div class="biographic-positions-block">
            <h1 class="biographic-positions-header-full">Positions</h1>
            
            {% for position in individual_positions %}
            <div class="biographic-position-subblock"><a href="{{position.2}}" class="biographic-position-institution">{{position.0}}</a>
              <h1 class="biographic-position-title">{{position.1}}</h1>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
      <div class="biographic-details-block">

        <div class="biographic-biography-subblock{{toggle_education}}">

          <div class="institution-function-header">Education</div>

          <div class="bio-list-div">

            <div class="bio-timeline w-richtext">{{individual_detail.education_timeline|safe}}</div>

            <div class="bio-timeline-items w-richtext">{{individual_detail.education_items|safe}}</div>

          </div>

        </div>

        <div class="biographic-biography-subblock{{toggle_career}}">

          <div class="institution-function-header">Career</div>

          <div class="bio-list-div">

            <div class="bio-timeline w-richtext">{{individual_detail.career_timeline|safe}}</div>

            <div class="bio-timeline-items w-richtext">{{individual_detail.career_items|safe}}</div>

          </div>

        </div>

        <div class="biographic-biography-subblock{{toggle_awards}}">

          <div class="institution-function-header">Awards</div>

          <div class="bio-list-div">

            <div class="bio-timeline w-richtext">{{individual_detail.awards_timeline|safe}}</div>

            <div class="bio-timeline-items w-richtext">{{individual_detail.awards_items|safe}}</div>

          </div>

        </div>

      </div>

      <div class="biographic-sources-block">

        <h1 class="biographic-sources-header">Sources</h1>

        <div class="biographics-sources-content w-richtext">{{individual_detail.sources}}</div>

      </div>

    </div>

    <div class="right-section"></div>

  </div>

{% endblock %}